.text-justify {
    text-align: justify !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.bg-red {
    background-color: #ff5652 !important;
}

.color-red {
    color: #ff5652 !important;
}

.bg-pink {
    background-color: #ff85af !important;
}


.color-pink {
    color: #ff85af !important;
}

.bg-purple {
    background-color: #d559ea !important;
}

.color-purple {
    color: #d559ea !important;
}

.bg-deep-purple {
    background-color: #673AB7 !important;
}

.color-deep-purple {
    color: #673AB7 !important;
}

.bg-indigo {
    background-color: #3F51B5 !important;
}

.color-indigo {
    color: #3F51B5 !important;
}

.bg-blue {
    background-color: #2196F3 !important;
}

.color-blue {
    color: #2196F3 !important;
}

.bg-light-blue {
    background-color: #03A9F4 !important;
}

.color-light-blue {
    color: #03A9F4 !important;
}

.bg-cyan {
    background-color: #00BCD4 !important;
}

.color-cyan {
    color: #00BCD4 !important;
}

.bg-teal {
    background-color: #39bbb0 !important;
}

.color-teal {
    color: #39bbb0 !important;
}

.bg-green {
    background-color: #32c787 !important;
}

.color-green {
    color: #32c787 !important;
}

.bg-light-green {
    background-color: #8BC34A !important;
}

.color-light-green {
    color: #8BC34A !important;
}

.bg-lime {
    background-color: #CDDC39 !important;
}

.color-lime {
    color: #CDDC39 !important;
}

.bg-yellow {
    background-color: #FFEB3B !important;
}

.color-yellow {
    color: #FFEB3B !important;
}

.bg-amber {
    background-color: #ffc107 !important;
}

.color-amber {
    color: #ffc107 !important;
}

.bg-orange {
    background-color: #FF9800 !important;
}

.color-orange {
    color: #FF9800 !important;
}

.bg-deep-orange {
    background-color: #FF5722 !important;
}

.color-deep-orange {
    color: #FF5722 !important;
}

.bg-brown {
    background-color: #795548 !important;
}

.color-brown {
    color: #795548 !important;
}

.bg-grey {
    background-color: #9E9E9E !important;
}

.color-grey {
    color: #9E9E9E !important;
}

.bg-blue-grey {
    background-color: #607D8B !important;
}

.color-blue-grey {
    color: #607D8B !important;
}

.bg-black {
    background-color: #000000 !important;
}

.color-black {
    color: #000000 !important;
}

.bg-white {
    background-color: #FFFFFF !important;
}

.color-white {
    color: #FFFFFF !important;
}

.bg-primary{
  background-color: #5e5e5e !important;
}

.color-primary{
  color: #5e5e5e !important;
}
